.table-style {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.table-style th, .table-style td {
    border: 1px solid rgb(99, 98, 98);
    padding: 8px;
    text-align: left;
}

.table-style th {
    background-color: #333;
    color: #fff3f3;
}

.table-style tr:nth-child(even) {
    background-color: #f2f2f2;
}

