body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
}

h2 {
    color: #007CBA; 
    font-size: 24px;
    margin-top: 20px;
}

h3 {
    color: #333; 
    font-size: 18px;
    margin-top: 15px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

li {
    font-size: 16px;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgba(179, 179, 179, 0.671); 
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

td {
    border-bottom: 1px solid #ddd; 
}

th, td {
    font-family: 'Times New Roman', Times, serif;
}

a:link {
    color: green; /* Default link color (green) */
    text-decoration: none;
}

a:visited {
    color: blue; /* Visited link color (blue) */
}

a:hover , a:active {
    color: red; /* Hover link color (red) */
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
}

address a {
    font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

frame[name="topFrame"], frame[name="leftFrame"], frame[name="bottomFrame"] {
    background-color: rgba(179, 179, 179, 0.671);
    color: white;
}

frame[name="mainFrame"] {
    background-color: #f0f0f0;
}

frame[name="rightFrame"] {
    background-color: rgb(255, 255, 255);
}

img {
    width: 100%;
    max-width: 260px;
    height: 100%;
}