.heading {
    font-size: 120%;
    text-align: right;
}

/* Paragraph style */
.styled-paragraph {
    color: green;
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
}

/* Background image */
body {
    background-image: url("hello.jpg");
    background-repeat: repeat-y;
    background-size: auto 100%;
}
