.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #ccc;
}

.table tr:nth-child(even) {
    background-color: red;
}

.table tr:nth-child(odd) {
    background-color: yellow;
}
